<%= simple_form_for(chat.messages.new, url: messages_path(chat.messages.new, chat_id: chat.id), html: { class: 'form-horizontal' }, remote: true, method: :post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content, as: :string, label: false, required: true %>
  </div>

  <div class="form-actions" style="display: none;">
    <%= f.button :submit %>
  </div>
<% end %>

<script type="text/javascript">
  document.addEventListener("turbolinks:load", function() {
    $("#vink_messages").scrollTop($("#vink_messages")[0].scrollHeight);
    $('#message_content').focus();
    $("#new_message").bind("ajax:send", function(event,xhr,status){
      if ($('#message_content').val().trim() == '') {
        return false;
      }
    });
  });
</script>

