<%= link_to user_facebook_omniauth_authorize_path, class: 'sns-login sns-login-rounded' do %>
    <%= image_tag('facebook.png') %> <span><%= button_message ? button_message : '페이스북 으로 진행하기' %></span>
<% end %>
