<a target="_blank" href="http://m.me/DingcoStickerShop?ref=key-<%= current_user.key %>" class="messenger-start">
  <%= image_tag('facebook-messenger.png') %> <span><%= t('settings.subscription.start') %></span>
</a>
