<footer>
  <% if current_user %>
      <% unless current_user.bot_subscription %>
          <div class="page-options">
            <%= link_to '/chat_bot/index', class: 'facebook-messenger-icon' do %>
                <%= image_tag('facebook-messenger.png') %>
            <% end %>
          </div>
      <% end %>
  <% else %>
      <div class="page-options">
        <%= link_to t('nav.sign_in_to_post'), main_app.new_user_session_path, class: 'facebook-messenger-icon' %>
      </div>
  <% end %>
</footer>
