<p><%= t('pages.home.introduction') %></p>

<p>
  <b><%= link_to t('nav.forums'), thredded.root_path %></b>
</p>

<%= link_to '/chat_bot/index', class: 'facebook-messenger-icon' do %>
    <%= image_tag('facebook-messenger.png') %>
<% end %>
