<p><%= t('pages.home.introduction') %></p>

<%= Thredded::ApplicationController.render partial: 'thredded/users/posts',
                                           locals: {posts: @posts_page_view} %>
