<h1>VietsInKorea.com là một trang web chia sẻ tất tần tật các thông tin liên quan đến du học Hàn Quốc.  Tại đây các bạn có thể cùng nhau hỏi đáp các vấn đề liên quan đến du học Hàn Quốc.</h1>

<p>Check out the
  <b><%= link_to t('nav.forums'), thredded.root_path %></b>.
</p>
