<%= render 'thredded/search/custom_form', messageboard: messageboard_or_nil %>

<% if content_for? :thredded_main_navigation %>
    <%= yield :thredded_main_navigation %>
<% else %>
    <div class="thredded--main-navigation">
      <%= yield :thredded_breadcrumbs %>
    </div>
<% end %>
