.home-news-slide {
  height: 100%;
  width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  display: inline-flex;
}
.home-news-slide-card {
  min-width: 400px;
  height: 150px;
}
.home-news-slide-card {
  .vink-news-box {
    max-height: 150px;
    overflow: hidden;
    object-fit: cover;
  }
  .vink-news-box .card-img-overlay { z-index: 3; }
  .vink-news-box .card-title {

  }
  .vink-news-box .card-content {
    display: none;
  }
  .vink-news-box .card-info {

  }
  .vink-news-box-image-shade {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: rgba(0,0,0,0.6);
  }
  .vink-news-box-link .card-img {
    height: 150px;
  }
  .vink-news-box-link:hover .vink-news-box-image-shade {
    background-color: rgba(0,0,0,0.8);
  }
  .vink-news-box-image-icon {
    position: absolute;
    bottom: calc( 15px - 70% );
    left: calc( 50% - 15px );
    font-size: 40px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff;
  }

  .vink-news-box-link:hover .vink-news-box-image-icon {
    bottom: calc( 50% - 30px );
  }
}

@media (max-width: 48rem) {
  .home-news-slide-card {
    min-width: 300px;
    height: 100px;
  }
  .home-news-slide-card {
    .vink-news-box .card-title {
      font-size: 16px;
    }
    .vink-news-box .card-info {
      font-size: 13px;
    }
    .vink-news-box-link .card-img {
      height: 100px;
    }
  }
}
