.sns-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid #3b5998;
  border-radius: 5px;
  background: #3b5998;
  text-decoration: none;
}

.sns-login:hover {
  text-decoration: none;
}

.sns-login img {
  width: 35px;
  min-width: 35px;
  height: 35px;
  min-height: 35px;
  margin-bottom: 5px;
  border-radius: 100%;
}

.sns-login span {
  color: white;
  width: 100%;
  text-align: center;
  margin-right: 35px;
}

.messenger-start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid #007fff;
  border-radius: 5px;
  text-decoration: none;
}
.messenger-start:hover {
  text-decoration: none;
}
.messenger-start img {
  width: 25px;
  min-width: 25px;
  height: 25px;
  min-height: 25px;
}
.messenger-start span {
  color: #007fff;
  width: 100%;
  text-align: center;
  margin-right: 25px;
}

.facebook-messenger-icon {
  vertical-align: top;
}
.facebook-messenger-icon img {
  height: 30px;
}
.facebook-messenger-icon-image {
  height: 18px;
}
