.vink-long-logo {
  height: 40px;
}


a:hover {
  text-decoration: none !important;
}

.navbar-brand{
  margin: 0px auto !important;
}
.vink-menu {padding: 0.5rem;}
.vink-menu li.menu-item a {
  border-bottom: none;
}
.vink-menu li.menu-item.active a {
  border-bottom: 2px solid #ffd400;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.vink-nav {padding: 1rem; margin-bottom: 1rem;}
.vink-nav li.nav-item a {
  border-bottom: none;
}
.vink-nav li.nav-item.active a {
  border-bottom: 2px solid #ffd400;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form-actions {
  text-align: right;
}

.page-options {
  position: fixed;
  right: 15px;
  top: 15px;
}

.page-right-options {
  position: fixed;
  right: 15px;
  bottom: 15px;
}

.page-top-options {
  padding: 12px 18px;
  position: absolute;
  top: 0;
  font-size: 25px;
}

.page-right-options a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #3d3137;
  text-decoration: none;
  width: 55px;
  height: 55px;
  padding: 0;
  margin-bottom: 5px;
  background-color: #ffd400;

  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.35);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.35);
}
.page-right-options a:hover{
  color: white !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.35);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.35);
}
.page-right-options i {
  font-size: 25px;
}

.vink-sticky-submit-container {
  width: 100vw;
  background-color: white;
  position: fixed;
  bottom: 0px;
  left: 0px;
  max-height: 50px;
}


.thredded--messageboard {
  margin-right: 15px;
  margin-bottom: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.thredded--messageboard:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.18), 0 2px 5px rgba(0,0,0,0.22);
}

.thredded--post {
  padding-left: 15px;
  border-left: 2px solid #cbcbcb;
  margin-bottom: 1.5rem;
}
.thredded--post .thredded--post--user {
  font-size: 14px;
}

.thredded--topic-header {
  border: 1px solid #ececec;
  padding: 10px;
  border-radius: 5px;
}
.thredded--topic-header--follow-info form.thredded--topic-header--follow-info--unfollow {
  top: 0px;
  position: relative;
}
.thredded-messageboard-new {
  position: absolute;
  top: 0px;
  right: 5px;
  color: #ffd400;
  font-size: 16px;
}

.thredded--messageboards-group a {
  color: #292b2c;
}

.thredded--messageboards-group a:hover {
  color: #292b2c;
}

.vink-post-unit {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e6ecf0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .card-body {
    padding: 10px;
  }
  .card-footer {
    padding: 10px;
    background-color: transparent;
  }
  .vink-post-unit-content {
    max-width: 100%;
    max-height: 300px;
    overflow: hidden;
  }
  .vink-post-unit-profile img {
    border-radius: 50%;
    display: inline-block;
    height: 1.75em;
    width: 1.75em;
    object-fit: contain;
  }
  .thredded--post--content {
    font-size: 14px;
  }
  .vink-post-unit-messageboard {
    color: grey;
    font-size: 13px;
  }
  .vink-post-unit-profile {
    color: grey;
    font-size: 13px;
  }
}

.thredded--pagination {
  padding-bottom: 1.5rem;
}

.thredded--post--avatar {
  left: 0;
  border-radius: 50%;
  display: inline-block;
  height: 1.75rem;
  margin-right: 0.4375em;
  position: relative;
  top: 6px;
  vertical-align: baseline;
  width: 1.75rem;
  object-fit: contain;
}
.thredded--currently-online--avatar, .thredded--user--avatar {
  background-color: white;
  object-fit: contain;
}
.vink-overflow-scroll-box {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.vink-overflow-scroll-content {
  min-width: 760px;
}