@media (max-width: 48rem) {
  div.thredded--messageboards-group {
    display: block;
  }

  a.thredded--messageboard {
    display: inline-block;
    margin-bottom: 4px;
    padding: 10px;
  }

  h2.thredded--messageboard--title {
    margin: 0 auto;
  }

  h3.thredded--messageboard--meta, p.thredded--messageboard--description, p.thredded--messageboard--byline {
    display: none;
  }
  .facebook-messenger-icon-image {
    height: 11px !important;
  }
}